################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GPA434_Labo1_Depart/v17/Browse.VC.opendb
*.vsidx
